<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker | home</title>
    <link rel="stylesheet" href="style.css">
    <script src="./script.js"></script>
</head>
<body>

    <div class="wrapper">
        <div class="col-1">
            <div class="new-task-btn">
                <button>add</button>
                <p class="small">New Entry</p>
            </div>
        </div>
        <div class="col-2">
            <div class="timesheet-wrapper">
                <div id="day-wrapper" class="day-wrapper">
                </div>
                <div class="timelog"></div>
            </div>
        </div>
    </div>

</body>
</html>